.App {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 90%;  /* App nimmt max. 90% der Fensterbreite ein */
  margin: 0 auto; /* Zentrierung App */
}

.title {
  color: #b91243;
  font-size: 2em;
  margin-bottom: 20px;
}
