.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.title {
  color: #b91243;
  font-size: 2em;
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

input[type="number"] {
  width: 60px;
  margin: 0 10px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

.grid-container {
  display: inline-block;
  border: 2px solid #f8f4f4;
  padding: 5px;
}

.grid-row {
  display: flex; /* Jede Zeile enthält mehrere Zellen */
}

.cell {
  width: 40px; /* Standard-Breite Zellen */
  height: 40px; /* Standard-Höhe  Zellen */
  background-color: grey; /* Standard-Hintergrundfarbe Zellen */
  margin: 1px;
  border: 1px solid #000;
  cursor: pointer;
}

.cell.active {
  background-color: green; /*Aktive Zellen = grün */
}

.active-cells-header {
  text-align: center;
  margin-bottom: 20px;
}

.active-cells-list {
  text-align: start;
  list-style-type: none;
  padding: 0;
}

.active-cells-list li {
  margin-bottom: 10px;
}

.cell-group {
  margin-left: 20px;
  display: inline-block;
}

.cell-group span {
  white-space: nowrap; /* Verhindert Umbruch Zelle (x, y) */
}