.App {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 90%;  /* App nimmt max. 90% der Fensterbreite ein */
  margin: 0 auto; /* Zentrierung App */
 
}

.title {
  color: #b91243;
  font-size: 2em;
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Abstand zwischen Buttons und Inputs */
  justify-content: center;
}

input[type="number"] {
  width: 60px;
  margin: 0 10px;
}

button {
  margin: 0; /* Entfernt Außenabstände */
  padding: 8px 12px; /* Polsterung */
  font-size: 14px;
}

/* Hover-Label für Koordinaten */
.hover-label {
  position: absolute;
  background-color: #333;
  color: #c71c1c;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 16px;
  pointer-events: none; /* Verhindere Interaktion mit dem Label */
  transform: translate(-50%, -120%);
  white-space: nowrap;
}


.grid-container {
  position: relative;
  display: inline-block;     
  max-height: 70vh; /* Höhe Container */
  max-width: 90vw; /* Breite Containers */
  overflow: auto; /* Scrollbar bei Bedarf */
  border: 1px solid #ccc; /* Rahmen für Container */
  margin: 0 auto; /* Zentriert das Grid */
  /*border: 2px solid red; */ /* Zum Debuggen des Containers Layouts */
}

.grid-container::-webkit-scrollbar {
  height: 8px; /* Höhe horizontale Scrollbar */
  width: 8px; /* Breite vertikale Scrollbar */
}

.grid-container::-webkit-scrollbar-thumb {
  background: #b91243; /* Farbe Scrollbalken */
  border-radius: 4px;
}

.grid-container::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Hover-Farbe Scrollbalken */
}

.grid-row {
  display: flex; /* Jede Zeile enthält mehrere Zellen */
}

.cell {
  width: 30px; /* Breite der Zellen */
  height: 30px; /* Höhe der Zellen */
  background-color: grey; /* Hintergrundfarbe der Zellen wenn inaktiv */
  margin: 1px;
  border: 1px solid #000;
  cursor: pointer; /* Zeigt Zeigefinger-Cursor an, wenn über Zelle */
  flex-shrink: 0;  /* Zellgröße verändert sich nicht*/
}

.cell.active {
  background-color: green; /* Aktive Zellen = grün */
}

.active-cells-header {
  text-align: center;
  margin-bottom: 20px;
}

.active-cells-list {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 60%;
}

.active-cells-list li {
  margin-bottom: 10px;
  white-space-collapse: "),";
}

.cell-group {
  margin-left: 20px;
  display: inline-block;
}
