/* Globale Stile */
body {
  display: flex;
  flex-direction: column; /* vertikale Ausrichtung */
  justify-content: center;
  align-items: flex;  /* gleichmäßiger Abstand zum Rand horizontal */
  /* overflow: hidden; */
  background-color: black;
}